@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: SaoTorpes;
  src: url(/fonts/SaoTorpes.otf);
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D9A066;
    --foreground: #4E342E;
    --blanccasse: #FAF3E0;
    --rougecerise: #D84315;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SaoTorpes', sans-serif;
}
