@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 217 160 102;
  --foreground: 78 52 46;
  --blanccasse: 250 243 224;
  --rougecerise: 216 67 21;
}

@font-face {
  font-family: SaoTorpes;
  src: url(/fonts/SaoTorpes.otf);
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--blanccasse));
  font-family: 'SaoTorpes', sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 65s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee 65s linear infinite reverse;
}

.text-outline-rougecerise {
  color: transparent;
  -webkit-text-stroke: 2px rgb(var(--rougecerise));
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
